@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">This is the TheAmCo Events web app</p>
    <hr class="my-4">

</div>

<div class="row">
    <div class="col-3">
        <h3>Events</h3>
        <ul>
            <li><a asp-controller="Events" asp-action="Index">Index</a></li>
            <li><a asp-controller="Events" asp-action="Create">Create</a></li>
        </ul>
    </div>
    <div class="col-3">
        <h3>Guest Bookings</h3>
        <ul>
            <li><a asp-controller="GuestBookings" asp-action="Index">Index</a></li>
            <li><a asp-controller="GuestBookings" asp-action="Create">Create</a></li>
        </ul>
    </div>
    <div class="col-3">
        <h3>Customers</h3>
        <ul>
            <li><a asp-controller="Customer" asp-action="Index">Index</a></li>
            <li><a asp-controller="Customer" asp-action="Create">Create</a></li>
        </ul>
    </div>
</div>